<header class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar"> 
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
          <span>sections</span>
        </div>
      </li>
			<li data-controller="modal">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>search</span>
        </div>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
    <ul>
      <li>
        <form action="#" method="post">
          <button class="subscribe">
            <input type="button" value="SUBSCRIBE NOW">
          </button>
        </form>
      </li>
      <li>
        <form action="#" method="post">
          <button class="log-in">
            <input type="button" value="LOG IN">  
          </button>
        </form>
      </li>
      <li id="gear-btn">
        <a href="#">
          <i class="fa-solid fa-gear"></i>
        </a>
        <%= render partial: 'shared/gear_dropdown' %>
      </li>
    </ul>
  </nav>
</header>