<div class="masthead">
    <div class="language-nav">
        <ul>
            <li>CSS</li>
            <li>HTML</li>
            <li>Javascript</li>
            <li>Ruby</li>
        </ul>
    </div>
    <img class="logo" src="assets/AA_Times_Logo.png" alt="logo">
    <div >
        <ul class="masthead-links">
            <li><button type="submit">
                Tuesday, October 18, 2016
            </button></li>
            <li><button type="submit">
                Today’s Paper
            </button></li>
            <li><button type="submit">
                Video
            </button></li>
            <li><button type="submit">
                77°F
            </button></li>
            <li><button type="submit">
                AAO +100%
            </button></li>
        </ul>
    </div>
</div>
