<div class="masthead">
    <div class="language-nav">
        <ul>
            <a>CSS</a>
            <a>HTML</a>
            <a>Javascript</a>
            <a>Ruby</a>
        </ul>
    </div>
    <img class="logo" src="assets/AA_Times_Logo.png" alt="logo">
    <div>
        <ul class="masthead-links">
            <li>
                <time>
                    Tuesday, October 18, 2016
                </time>
            </li>
            <li>   
                <button type="submit">
                    <a href="#">
                        Today’s Paper
                    </a>
                </button>
            </li>
            <li>
                <button type="submit">
                    <a>
                        Video
                    </a>
                </button>
            </li>
            <li><button type="submit">
                77°F
            </button></li>
            <li><button type="submit">
                AAO <strong>+100%</strong>
            </button></li>
        </ul>
    </div>
</div>
